* {
  box-sizing: border-box;
}

.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #9dbdb8;
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Chewy";
  margin: 20px;
  padding: 0;
}

.square {
  background: #9dbdb8;
  border: 0px solid #9dbdb8;
  border-radius: 20px;
  float: left;
  font-family: "Cherry Bomb One";
  font-size: 60px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: 1px;
  margin-top: 1px;
  padding: 0;
  text-align: center;
  width: 100px;
  color: #f0e7d6;
}
.bigSquareBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #719993;
  width: 400px;
  border-radius: 20px;
  height: 500px;
  padding: 1rem;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 2rem;
  margin: 20px;
  color: #f0e7d6;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.headerText {
  display: flex;
  justify-content: center;
}

.titleText {
  font-size: 40px;
  color: #719993;
}

.restartButton {
  background-color: #9dbdb8;
  border-radius: 20px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #719993;
}
