* {
  box-sizing: border-box;
}

.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #9dbdb8;
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Chewy";
  margin: 20px;
  padding: 0;
}

.square {
  background: #9dbdb8;
  border: 0px solid #9dbdb8;
  border-radius: 20px;
  float: left;
  font-family: "Cherry Bomb One";
  font-size: 60px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: 1px;
  margin-top: 1px;
  padding: 0;
  text-align: center;
  width: 100px;
  color: #f0e7d6;
  text-shadow: rgba(255, 255, 255, 0.2) 0px 4px 12px;
  @media (max-width: 400px) {
    height: 90px;
    width: 90px;
  }
}

.bigSquareBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #719993;
  width: 400px;
  border-radius: 20px;
  height: 500px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 12px;
  @media (max-width: 400px) {
    width: 310px;
  }
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 2rem;
  margin: 10px;
  color: #f0e7d6;
  font-family: "Cherry Bomb One";
  text-shadow: rgba(255, 255, 255, 0.2) 0px 4px 12px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.labelWinner {
  text-align: center;
  margin-top: 10%;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  animation: blink 1.2s infinite;
}

.labelPlayer {
  font-family: "Chewy";
}
.labelPress {
  font-family: "Cherry Bomb One";
  font-size: 25px;
  @media (max-width: 400px) {
    font-size: 18px;
  }
}

.nextPlayer {
  font-size: 40px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.headerText {
  display: flex;
  justify-content: center;
  font-family: "Cherry Bomb One";
  text-shadow: rgba(255, 255, 255, 0.3) 4px 4px 12px;
}

.titleText {
  font-size: 60px;
  color: #719993;
  margin-top: 40px;
  margin-bottom: 40px;
  @media (max-width: 400px) {
    font-size: 50px;
    color: #719993;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.titleTextTwo {
  font-size: 60px;

  color: #456e68;
  margin-top: 40px;
  margin-bottom: 40px;
  @media (max-width: 400px) {
    font-size: 50px;
    color: #456e68;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.restartButton {
  background-color: #9dbdb8;
  border-radius: 20px;
  padding: 0.5rem 1rem 0.5rem 1rem;

  color: #719993;
}
